@import url("https://use.typekit.net/lzk4ixm.css");
@import "tailwindcss";

html {
    font-family: var(--font-sans), sans-serif;
    background-color: var(--color-mlLightGray)
}
@theme {
    --font-sans: "Proxima Nova", Roboto, Arial, sans-serif;
    --color-mlYellow: #FFE600;
    --color-mlDark: #333333;
    --color-mlGray: #999999;
    --color-mlLightGray: #EEEEEE;
}

